
//// Fade In Fade Out ////
@keyframes fade-in {
    from {
        opacity: 0;     
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;     
    }

    to {
        opacity: 0;
    }
}

// Overlay and Menu block
.fade-in {
    @include fade-in(300ms);
}

.fade-out {
    @include fade-out(2000ms);
}

// Menu Elements 
.men-el-fade-in {
    @include fade-in(1000ms);
}

.men-el-fade-out {
    @include fade-out(300ms);
}







