
.footer {
    background-color: $darkBlue;
    text-align: center;

    &-content {
        color: $white;
        padding: 2.5rem;

        
        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
            "logo links-col1 links-col2 copyright";
            font-size: $font-sm;
            padding-left: 1.875rem;
            padding-right: 1.875rem;
            text-align: left;
        }
    }

    a {
        color: $white;
        display: inline-block;
    }

    &-logo {
        display: inline-block;
        justify-self: flex-start;
        grid-area: logo;

        @include breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }
    }

    &-social {
        margin-bottom: 1.875rem;
        justify-self: flex-start;
        align-self: flex-end;
        grid-area: logo;

        a:not(:last-child) {
            margin-right: 1rem;
        }

        @include breakpoint-up(medium) {
            margin-bottom: 0;
        }
    }

    &-links {
        display: flex;
        flex-direction: column;
        justify-self: center;

        a {
            line-height: 2.25;
        }

        &.col1 {
            grid-area: links-col1;
        }

        &.col2 {
            grid-area: links-col2;

            @include breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }
        }
    }

    &-cta {
        color: $grayishBlue;

        a.button {
            margin-bottom: 1.875rem;

            @include breakpoint-up(medium) {
                margin-bottom: 1.5rem;
            }
        }

        @include breakpoint-up(medium) {
            text-align: end;
        }
    }

    &-copyright {
        grid-area: copyright;

        @include breakpoint-up(medium) {
            margin: 0;
        }
    }
}

