
.hero {

    &-image {
        position: relative;
        background: url("../../images/bg-intro-mobile.svg") no-repeat center center;
        background-size: cover;
        min-height: 17.5rem;

        &::before {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            background: url("../../images/image-mockups.png") no-repeat center bottom;
            background-size: 93%;
        }
    }

    &-text {

    }
}